@font-face {
  font-family: 'glacialbold';
  src: url('../assets/GlacialIndifference-Bold.otf');
}

@font-face {
  font-family: 'glacialregular';
  src: url('../assets/GlacialIndifference-Regular.otf');
}

.App {
  font-family: 'glacialbold';
  background-image: linear-gradient(-225deg, #473B7B 0%, #3584A7 51%, #30D2BE 100%);
  text-transform: uppercase;
  color: white;
  height: 100%;
  width: 100%;
}

html{
  background-color: lightcyan;
}
#root{
  background-color: lightcoral;
}


html, body, #root {
  height: 100%;
  width: 100%;
}

.screen_responsive{
  max-width: 100%;
  height: auto;
  width: auto;
  padding: 0px;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

.App-link {
  color: #61dafb;
}

.menu{
  min-height: 100%;
  min-width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
}

.menu_container{
  min-height: 100%;
  min-width: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  align-items: center;
}

.main_container{
  margin-left: 5%;
  margin-right: 5%;
  max-height: 100%;
  text-align: left;
}

.text_class{
  color: white;
  font-weight: bold;
}


.name_class{
  display: flex;
  align-items: center;
 justify-content: flex-start;
}

.r_class{
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
}

.remain_name_class{
  margin: 10px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-end; 
}


.icon{
  background-color: white;
  border-radius: 8px;
  width: 100%;
  height: 5px;
  position: absolute;
  left: 0%;
  transition: all cubic-bezier(0.26,0.1,0.27,1.55) 0.36s;
}

.top{
  top: 20%;
}

.middle{
  top: 45%;
}

.bottom{
  top: 70%;
}

.top_close{
  top: 48%;
  transform: rotate(45deg);
}

.down_close{
  top: 48%;
  transform: rotate(-45deg);
}


.move_left{
  left: -30%;
}

.mid_rotate{
  transform: rotate(360deg);
}

.move_right{
  left: 30%;
}

#container{
  display: inline-block;
  height: 50px;
  width: 50px;

  position: relative;
  margin-right: 20px;
  cursor: pointer;
}